*{
	margin:0;
	padding:0;
	font-size:100.01%;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow:auto;
}
label{vertical-align:middle;}
button, input{
	width:auto;
	overflow:visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration:underline;}
s, strike, del{text-decoration:line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display:block;}
html{font-size:62.5%;}
body{
	-webkit-text-size-adjust:100%;
	min-width:980px;
	font:1.2em/1.333em Arial, Helvetica, sans-serif;
	color:#033459;
	background:#e7e7e7 url(images/bg-body.gif) repeat-x;
}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}
a{
	text-decoration:underline;
	color:#033459;
}
a:hover{text-decoration:none;}
a:active{background:none;}
@font-face{
	font-family:'allerbold';
	src:url('fonts/aller_bd-webfont.eot');
	src:url('fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/aller_bd-webfont.woff') format('woff'),
		url('fonts/aller_bd-webfont.ttf') format('truetype'),
		url('fonts/aller_bd-webfont.svg#allerbold') format('svg');
}
@font-face{
	font-family:'alleritalic';
	src:url('fonts/aller_it-webfont.eot');
	src:url('fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/aller_it-webfont.woff') format('woff'),
		url('fonts/aller_it-webfont.ttf') format('truetype'),
		url('fonts/aller_it-webfont.svg#alleritalic') format('svg');
}
@font-face{
	font-family:'allerregular';
	src:url('fonts/aller_rg-webfont.eot');
	src:url('fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/aller_rg-webfont.woff') format('woff'),
		url('fonts/aller_rg-webfont.ttf') format('truetype'),
		url('fonts/aller_rg-webfont.svg#allerregular') format('svg');
}
@font-face{
	font-family:'impactregular';
	src:url('fonts/impact-webfont.eot');
	src:url('fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/impact-webfont.woff') format('woff'),
		url('fonts/impact-webfont.ttf') format('truetype'),
		url('fonts/impact-webfont.svg#impactregular') format('svg');
}
#wrapper{
	position:relative;
	width:962px;
	margin:30px auto 0;
	border:solid #d6d6d6;
	border-width:2px 1px 1px;
	box-shadow:0 0 2px #888, 0 0 2px #555;
	-webkit-box-shadow:0 0 2px #888, 0 0 2px #555;
	-moz-box-shadow:0 0 2px #888, 0 0 2px #555;
	background:#fff;
}
#wrapper:after{
	position:absolute;
	left:-4px;
	bottom:-7px;
	content:'';
	width:970px;
	height:6px;
	background:url(images/bg-wrapper.png) no-repeat 0 100%;
}
#header{
	overflow:hidden;
	padding:13px 19px 18px 24px;
	background:url(images/bg-header.jpg) no-repeat 13px 100%;
}
.logo{
	float:left;
	width:175px;
	height:114px;
	margin:1px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background:url(images/logo.png) no-repeat;
}
.logo a{
	display:block;
	height:100%;
}
.languages-list{
	overflow:hidden;
	padding:0 2px 14px 0;
	font-size:1em;
	line-height:1.333em;
	font-weight:bold;
	text-transform:uppercase;
}
.languages-list ul{
	float:right;
	margin:0;
}
.languages-list li{
	list-style:outside none;
	float:left;
	padding:0 11px 0 12px;
	background:url(images/separator-languages-list.gif) no-repeat 0 3px;
}
.languages-list .first{background:none;}
.languages-list a{
	text-decoration:none;
	color:#043559;
	white-space:nowrap;
}
.languages-list .active a,
.languages-list a:hover{color:#bee15c;}
.login-list{
	overflow:hidden;
	padding:0 12px 16px;
	font-size:0.917em;
	line-height:1.455em;
	text-transform:uppercase;
}
.login-list ul{
	float:right;
	margin:0;
}
.login-list li{
	list-style:outside none;
	float:left;
	padding:0 0 0 9px;
}
.login-list a{
	display:block;
	padding:2px 19px 3px;
	text-decoration:none;
	color:#fff;
	white-space:nowrap;
}
.login-list a:hover{text-decoration:underline;}
.login-list .btn-agent{background:#043559;}
.login-list .btn-client{background:#009146;}
.login-list .btn-register{background:#f69223;}
#nav{
	overflow:hidden;
	padding:0 2px 11px 0;
	font-size:1.167em;
	line-height:1.286em;
	font-weight:bold;
	text-transform:uppercase;
}
#nav ul{
	float:right;
	margin:0;
}
#nav li{
	list-style:outside none;
	float:left;
	padding:0 11px 0 12px;
	background:url(images/separator-nav.gif) no-repeat 0 5px;
}
#nav .first{background:none;}
#nav a{
	text-decoration:none;
	color:#043559;
	white-space:nowrap;
}
#nav .active a,
#nav a:hover{color:#bee15c;}
#header .info{
	float:right;
	padding-right:2px;
	font:2.583em/1.097em 'impactregular', Charcoal, sans-serif;
	color:#033459;
	text-transform:uppercase;
}
#main{
	width:928px;
	padding:9px 19px 11px 13px;
}
#main .slogan{
	display:block;
	padding:0 0 26px;
	margin:0 0 25px;
	font-size:1.167em;
	line-height:1.286em;
	font-weight:normal;
	text-transform:uppercase;
	background:url(images/bg-slogan.gif) no-repeat 1px 100%;
}
.banners-list{
	overflow:hidden;
	margin:-43px 0 0;
	padding:0 0 9px;
	background:#fff;
}
.banners-list li{
	list-style:outside none;
	float:left;
	padding:0 0 2px 0;
	background:#fff;
}
.banners-list img{vertical-align:top;}
.carousel{
	width:916px;
	position:relative;
	overflow:hidden;
	margin:1px 0 23px 2px;
	border:3px solid #e7e7e7;
}
.carousel .mask{
	width:100%;
	overflow:hidden;
}
.carousel .slides{
	float:left;
	width:99999px;
	margin:0;
}
.carousel .slides li{
	list-style:outside none;
	float:left;
	width:916px;
}
.carousel .slides img{vertical-align:top;}
.columns-holder{
	width:917px;
	overflow:hidden;
	padding:0 0 5px 11px;
	color:#000;
}
.columns-holder .column{
	float:left;
	width:444px;
	padding:0 0 0 7px;
}
.columns-holder .column.partners{
	width:433px;
	margin:0 0 0 19px;
	padding-top:9px;
	background:#7ab4db;
	background:-moz-linear-gradient(top,  #7ab4db 0%, #fff 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab4db), color-stop(100%,#fff));
	background:-webkit-linear-gradient(top,  #7ab4db 0%,#fff 100%);
	background:-o-linear-gradient(top,  #7ab4db 0%,#fff 100%);
	background:-ms-linear-gradient(top,  #7ab4db 0%,#fff 100%);
	background:linear-gradient(to bottom,  #7ab4db 0%,#fff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ab4db', endColorstr='#ffffff',GradientType=0 );
}
.columns-holder h2{
	margin:0 0 12px;
	font:1.167em/1em 'allerbold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.columns-holder h2 a{
	text-decoration:none;
	color:#000;
}
.columns-holder h2 a:hover{text-decoration:underline;}
.columns-holder img{vertical-align:top;}
.agents-list{
	overflow:hidden;
	margin:0;
	padding:7px 0 14px;
}
.agents-list li{
	list-style:outside none;
	float:left;
	padding:0 4px 0 0;
}
.columns-holder .link-holder{
	text-align:right;
	font:0.75em/1.333em 'allerregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.columns-holder .link-holder a{
	text-decoration:none;
	color:#000;
}
.columns-holder .link-holder a:hover{text-decoration:underline;}
.partners-list{
	overflow:hidden;
	margin:0 0 0 2px;
}
.partners-list li{
	list-style:outside none;
	float:left;
	padding:0 0 0 12px;
}
.partners-list li.first{padding-left:0;}
.action-info{
	display:block;
	margin:0 22px 12px;
	font-size:1.167em;
	line-height:1.286em;
	overflow: hidden;
	position: relative;
	color:#c0e259;
}
.action-info > span {
	display: block;
	overflow: hidden;
	position: relative;
	width: 99999px;
}
.twocolumns{
	width:868px;
	overflow:hidden;
	padding:0 9px 55px 51px;
}
#content{
	float:right;
	width:588px;
	padding:10px 0 0;
}
#content .title-block{
	position:relative;
	padding:25px 200px 22px 11px;
	margin:0 0 11px;
	border:2px solid #e5e5e5;
	background:#f2f2f2;
}
#content .title-block .img-heading{
	position:absolute;
	right:55px;
	bottom:-3px;
}
#content h1{
	margin:0;
	font:4.167em/1.08em 'impactregular', Charcoal, sans-serif;
	text-transform:uppercase;
	color:#cc753a;
	white-space:nowrap;
}
#content h1 .marked{color:#033459;}
.container{
	width:584px;
	overflow:hidden;
	border:2px solid #e5e5e5;
	background:url(images/bg-container.gif) no-repeat 100% 0;
}
.style01 .container{background:url(images/bg-container-style01.gif) no-repeat 100% 0;}
.jcf-hidden{
	display:block !important;
	position:absolute !important;
	left:-9999px !important;
}
.scrollable-area{
	width:584px;
	height:390px;
	overflow:auto;
}
.style01 .scrollable-area{height:520px;}
.scrollable-area-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
}
.scrollable-area-wrapper .vscrollbar{
	position:absolute;
	top:0;
	right:0;
	width:23px;
	border-left:1px solid #eee;
}
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down{
	float:left;
	width:23px;
	height:29px;
	background:url(images/bg-scrollable-area.gif) no-repeat;
}
.scrollable-area-wrapper .vscroll-down{
	height:34px;
	background-position:-31px 0;
}
.scrollable-area-wrapper .vscroll-line{
	width:23px;
	float:left;
	background:#f1f1f1 url(images/bg-scrollable-area.gif) repeat-y -62px 0;
}
.scrollable-area-wrapper .vscroll-slider{
	width:23px;
	height:10px;
	background:#656565;
}
.team-list{
	width:580px;
	overflow:hidden;
	margin:0 0 0 -13px;
	padding:49px 0 0;
}
*+html .team-list{
	width:582px;
	margin:0 0 0 -16px;
}
.team-list li{
	list-style:outside none;
	display:inline-block;
	vertical-align:top;
	width:176px;
	padding:0 0 53px 14px;
	text-align:center;
}
*+html .team-list li{
	display:inline;
	padding-left:17px;
}
.team-list img{
	vertical-align:top;
	margin:0 0 8px;
}
.team-list h2{
	margin:0;
	font-size:1.083em;
	line-height:1.231em;
	text-transform:uppercase;
	color:#033459;
}
.team-list h2 a{
	text-decoration:none;
	color:#033459;
}
.team-list h2 a:hover{text-decoration:underline;}
.team-list .description{display:block;}
#sidebar{
	float:left;
	width:239px;
	padding:0 4px 7px;
	border:solid #ededed;
	border-width:1px 2px 2px;
	font-family:'allerbold', Arial, Helvetica, sans-serif;
}
#sidebar h2{
	width:237px;
	margin:0 -5px 2px;
	padding:5px 10px 11px 2px;
	font-size:1.583em;
	line-height:1.158em;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	background:#033459;
}
*+html #sidebar h2{padding:5px 10px 10px 2px;}
.accordion-holder{
	overflow:hidden;
	width:231px;
	padding:8px 5px 27px 3px;
	background:url(images/bg-accordion.gif) repeat-x;
}
.style01 .accordion-holder{background:none;}
*+html .accordion-holder{padding-bottom:26px;}
.accordion{
	width:100%;
	overflow:hidden;
	margin:0;
	font-size:1.583em;
	line-height:1.158em;
}
.accordion>li{
	list-style:outside none;
	width:100%;
	vertical-align:top;
	overflow:hidden;
	padding:0 0 1px;
}
*+html .accordion>li{
	padding:0;
	margin:-3px 0 0;
}
*+html .accordion>li.active{
	margin:0;
	padding:0 0 3px;
}
*+html .accordion>li:first-child{margin:0;}
.accordion>li>a{
	display:block;
	overflow:hidden;
	padding:5px 46px 12px;
	text-decoration:none;
	color:#fff;
	background:#043559;
}
*+html .accordion>li>a{padding:1px 46px 16px;}
.accordion>li.active>a{margin:0 0 3px;}
*+html .accordion>li.active>a{margin:0;}
.accordion a:hover{text-decoration:underline !important;}
.accordion .slide{
	display:none;
	margin:0 0 2px;
	padding:10px 20px 34px 59px;
	font-size:0.737em;
	line-height:1.286em;
	background:#c9e6f8;
}
*+html .accordion .slide{
	margin:-1px 0 2px;
	padding:5px 20px 34px 59px;
}
.accordion .active .slide{display:block;}
.accordion .slide li{
	list-style:outside none;
	width:152px;
	margin:-2px 0 0;
	overflow:hidden;
}
.accordion .slide a{
	text-decoration:none;
	float:left;
	padding:0 0 3px;
}
.text-widget{
	width:213px;
	padding:6px 8px 22px;
	margin:0 8px 45px 2px;
	overflow:hidden;
	font:13px/17px Arial, Helvetica, sans-serif;
	color:#000;
	text-align:center;
	background:#eff9cd;
}
.text-widget p{margin:0 0 16px;}
.bottom-section{
	overflow:hidden;
	padding:0 7px 0 12px;
}
.social-networks{
	float:left;
	width:490px;
	margin:0;
	font-size:0.75em;
	line-height:1.333em;
	font-weight:bold;
}
.social-networks li{
	list-style:outside none;
	float:left;
	padding:0 6px 0 0;
}
.social-networks a{
	display:block;
	padding:5px 0 5px 26px;
	text-decoration:none;
	background:url(images/bg-social-networks.jpg) no-repeat;
}
.social-networks a:hover{text-decoration:underline;}
.social-networks .facebook{
	color:#3a5c89;
	background-position:0 0;
}
.social-networks .twitter{
	color:#42adbf;
	background-position:0 -32px;
}
.social-networks .google{
	color:#1f1f1f;
	background-position:0 -64px;
}
.sub-nav{
	overflow:hidden;
	padding:4px 6px 0;
	font:0.917em/1.455em 'allerregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.sub-nav ul{
	float:right;
	margin:0;
}
.sub-nav li{
	list-style:outside none;
	float:left;
	padding:0 6px 0 8px;
	background:url(images/separator-sub-nav.gif) no-repeat 0 3px;
}
.sub-nav li.first{background:none;}
.sub-nav a{
	white-space:nowrap;
	text-decoration:none;
	color:#1b1463;
}
.sub-nav a:hover{text-decoration:underline;}
#footer{
	width:800px;
	overflow:hidden;
	margin:0 auto;
	padding:11px 62px 20px 0;
	color:#4d4d4d;
	font:0.75em/1.556em 'allerregular', Arial, Helvetica, sans-serif;
	text-align:center;
	text-transform:uppercase;
}
#footer p{margin:0;}