/*
Theme Name: teasymobile4
*/

/* main elements */
.navigation {
 margin: 0 auto;
 padding:0 0 45px 0;
 width: 100%;
}
.navigation-team {
 margin: 0 auto;
 padding:0 0 45px 0;
 width: 88%;
 display:block;
 margin:0 auto;
}
.navigation .prev {
 float:left;
}
.navigation .next {
 float:right;
}
#respond {
 clear: both;
}
#respond input {
 height: 24px;
 margin: 5px 0;
 width: 300px;
}
.commentlist li {
 list-style:none;
 margin:5px;
 background:none !important;
 padding:0 !important;
}
.commentlist li p {
 margin:0 !important;
 display:inline;
}
.commentlist li .avatar {
 float: left;
 margin: 5px;
}
.commentlist {
 margin:0;
}
#comments {
 clear:both;
}
#respond textarea {
 width: 300px !important;
}
#respond h2 {
 margin-top:5px;
}
#respond #submit {
 width:150px;
 height:auto;
}
#comments .commentlist {
 padding:0;
}
#respond label {
 height: 24px;
 margin: 5px 0;
 width: 300px;
}
.meta ul li {
 list-style:none;
 float:left;
 margin-left:10px;
 padding:0 !important;
 border:none;
}
.meta ul {
 overflow:hidden;
 margin-bottom:10px;
}
.meta ul li:first-child {
 margin:0;
 padding:0;
 border:none;
}
.page-content{
 padding: 9px 8px 6px 10px;
    width: 535px;
}
.accordion .opener{text-transform:capitalize;}
.accordion .slide li {
    text-transform:capitalize;
}