#name-query {

   border: 2px solid #717171;
   width: 625px;
   margin: 20px auto ;
  
   height:455px;
}

#process-payment{

   border: 2px solid #717171;
   width: 625px;
   margin: 20px auto ;
  
   height:455px;

}
#process-payment p {

   margin:20px 20px;
   color: #ff8d8a;

}

#name-query-title {

    background-color: #4f81bc;
    width: 620px;
    margin: auto; 
    height:30px;
    line-height: 30px;
     text-align: center;

}
#name-query-botton-box {

	margin:20px auto;

	text-align: center;
}
#process-payment-botton-box {

	margin:20px auto;

	text-align: center;
}
#process-payment-botton {

	width:150px;
height:35px;
line-height: 35px;
color:#fff;
font-size: 15px;
font-weight: bold;

	background-image: linear-gradient(bottom, rgb(122,153,54) 48%, rgb(155,197,71) 74%);
background-image: -o-linear-gradient(bottom, rgb(122,153,54) 48%, rgb(155,197,71) 74%);
background-image: -moz-linear-gradient(bottom, rgb(122,153,54) 48%, rgb(155,197,71) 74%);
background-image: -webkit-linear-gradient(bottom, rgb(122,153,54) 48%, rgb(155,197,71) 74%);
background-image: -ms-linear-gradient(bottom, rgb(122,153,54) 48%, rgb(155,197,71) 74%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.48, rgb(122,153,54)),
	color-stop(0.74, rgb(155,197,71))
);
}
#name-query-botton {

width:150px;
height:35px;
line-height: 35px;
color:#fff;
font-size: 15px;
font-weight: bold;

background-image: linear-gradient(bottom, rgb(164,49,45) 46%, rgb(186,54,52) 73%, rgb(205,61,56) 87%);
background-image: -o-linear-gradient(bottom, rgb(164,49,45) 46%, rgb(186,54,52) 73%, rgb(205,61,56) 87%);
background-image: -moz-linear-gradient(bottom, rgb(164,49,45) 46%, rgb(186,54,52) 73%, rgb(205,61,56) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(164,49,45) 46%, rgb(186,54,52) 73%, rgb(205,61,56) 87%);
background-image: -ms-linear-gradient(bottom, rgb(164,49,45) 46%, rgb(186,54,52) 73%, rgb(205,61,56) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.46, rgb(164,49,45)),
	color-stop(0.73, rgb(186,54,52)),
	color-stop(0.87, rgb(205,61,56))
);

}
#name-query-select {

    margin-top:20px;
	padding: 0 20px;
}
#name-query-select td{
    
	border: none;
    width: 300px;
	height: 30px;
}
#name-query-select input{

	height:30px;
	margin:0px;
	padding:0px 
}

#name-query-account {

	margin-left: 20px;
}

#name-query-account label {

	font-weight: bold;
}
#name-query-account input {

	margin-left: 10px;
	width: 180px;
}

#process-payment-input {

    width:400px;
	margin:auto;
}

#process-payment-input td {


	text-align: right;
	border: none;
}
/* ROUNDED TWO */
.roundedTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}